.vs/CG_TermProject/v16/ipch/
Debug/
.vs/CG_TermProject/v16/Browse.VC.opendb
.vs/CG_TermProject/FileContentIndex/9e84662d-52ce-4ab2-b8e3-43a9954478b7.vsidx
.vs/CG_TermProject/FileContentIndex/b8626c04-7383-4bf9-bbf5-95eb77ce7534.vsidx
.vs/CG_TermProject/FileContentIndex/ebb4b863-2f9a-4899-8edd-0a11e84c7a78.vsidx
.vs/CG_TermProject/FileContentIndex/read.lock
.vs/CG_TermProject/v17/.suo
.vs/CG_TermProject/v17/Browse.VC.db
.vs/CG_TermProject/v17/Browse.VC.db-shm
.vs/CG_TermProject/v17/Browse.VC.db-wal
.vs/CG_TermProject/v17/Browse.VC.opendb
.vs/CG_TermProject/v17/ipch/b714252f4eef6eb0.ipch
