.vs/CG_TermProject/v16/ipch/
Debug/
.vs/CG_TermProject/v16/Browse.VC.opendb
.vs/CG_TermProject/FileContentIndex/1f048aae-28ab-4640-85c8-922defc3914c.vsidx
.vs/CG_TermProject/FileContentIndex/d1bc164d-87b0-4690-ad24-11fb61162f86.vsidx
.vs/CG_TermProject/FileContentIndex/read.lock
.vs/CG_TermProject/v17/.suo
.vs/CG_TermProject/v17/Browse.VC.db
.vs/CG_TermProject/v17/Browse.VC.db-shm
.vs/CG_TermProject/v17/Browse.VC.db-wal
.vs/CG_TermProject/v17/Browse.VC.opendb
.vs/CG_TermProject/v17/ipch/b714252f4eef6eb0.ipch
